name: Barlow CI with Gradle

on:
  push:
    branches:
      - develop
    paths:
      - core
      - batch
      - storage
      - clients

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    environment: Barlow CI

    steps:
      - name: Check Out
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Build with Gradle
        uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
        with:
          arguments: clean developTest